<%= stylesheet_link_tag 'motivaters', :media => "all" %>

<div class="page-title">
    <h1>DEVELOPER</h1>
</div>

<div class="develop-container">
    <div class="develop-section">
        <ul class="dev-contents">
            <li>Kento Daikoku</li>
            <li>1997/05/09</li>
            <li>JAPAN</li>
            <li>Aichi University</li>
            <li><a href="mailto:kedks090597@gmail.com">kedks090597@gmail.com</a></li>
            <li class="dev-comment">free to contact me<br>お気軽にご連絡ください</li>
        </ul>
        <ul>
            <li><img src="/prof.jpg" class="dev-img"></li>
            <li>
                <a href="https://www.instagram.com/im_kenken_59/" class="insta_btn2">
                    <i class="fab fa-instagram"></i> <span>Follow Me</span>
                </a>
            </li>
        </ul>
    </div>
</div>