// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 新規登録・ログイン画面用
.container {
    width: 100%;
    margin: 100px auto;
    padding-bottom: 150px;
}

.container-2 {
    width: 80%;
    margin: 100px auto;
    padding-bottom: 150px;
}

.sign-title {
    padding-bottom: 20px;
}

.user-session {
    margin: 30px 0 10px;
}

.actions {
    padding: 10px 0;
}

.new-img {
    width: 100%;
}

// パスワード系画面用
.pw-contents {
    text-align: center;
    margin: 200px auto;
}

// プローフィール編集
.cancel {
    margin-top: 50px;
}


// レスポンシブデザイン // ====================================================
@media (max-width: 700px) {
    .container {
        padding: 0 50px 100px;
    }

    .sign-title h1, .login-title h1 {
        font-size: 30px;
    }
}